* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #89abe3ff;
  font-family: "Ubuntu", sans-serif;
}

.header-container {
  padding: 6rem 0;
  text-align: center;
  position: relative;
}

.header-title {
  text-transform: uppercase;
  font-size: 7rem;
  font-weight: 700;
  color: #2c2f33;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-member {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  background-color: #333333;
  width: 60%;
  border-radius: 10px;
  margin-bottom: 10rem;
  transition: transform 0.2s;
}

.card-member:hover {
  transform: scale(1.05);
  background-color: #222222;
}

.member-name {
  font-size: 2.8rem;
  font-weight: 400;
  color: rgb(208, 230, 245);
  line-height: 5rem;
  letter-spacing: 0.1rem;
}

.member-nim {
  font-size: 1.8rem;
  font-weight: 500;
  color: rgb(208, 230, 245);
  margin-bottom: 2rem;
  letter-spacing: 0.15rem;
}

.member-info {
  background-color: rgb(208, 230, 245);
  width: 97%;
  text-align: center;
  height: 20rem;
  padding: 2rem 1rem 1rem;
  font-size: 1.5rem;
  overflow-wrap: break-word;
  font-style: italic;
  border-radius: 2px;
  margin-left: 1.5%;
}
