* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-image: url("../images/background.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Ubuntu", sans-serif;
}

.header-container {
  padding: 6rem 0;
  text-align: center;
  position: relative;
}

.header-title {
  text-transform: uppercase;
  font-size: 7rem;
  font-weight: 700;
  color: rgb(87, 50, 20);
}

.card-container {
  width: 90%;
  display: relative;
  justify-content: center;
  flex-wrap: wrap;
}

.card-member {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  background-color: rgba(51, 51, 51, 0.9);
  width: 100%;
  border-radius: 1px;
  margin-bottom: 10rem;
  transition: transform 0.2s;
}

.row {
  width: 100%;
  padding-left: 20rem;
  padding-right: 20rem;
  display: flex;
  justify-content: center;
}

.card-member:hover {
  transform: scale(1.05);
  background-color: rgba(34, 34, 34, 0.9);
}

.member-name {
  font-size: 2.8rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  line-height: 5rem;
  letter-spacing: 0.1rem;
}

.member-nim {
  font-size: 1.8rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin-bottom: 2rem;
  letter-spacing: 0.15rem;
}

.member-info {
  background-color: rgb(255, 238, 218);
  color: rgb(87, 50, 20);
  width: 97%;
  text-align: left;
  height: 20rem;
  padding: 2rem 1rem 1rem;
  font-size: 1.5rem;
  overflow-wrap: break-word;
  font-style: italic;
  border-radius: 2px;
  margin-left: 1.5%;
}

/* Three columns side by side */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
}

@media screen and (max-width: 1000px) {
  .column {
    width: 30rem;
    display: flex;
    margin-left: 25rem;
  }

  .row {
    width: 100%;
    height: 100%;
    display: block;
  }

  .card-container {
    width: 100%;
    display: flex;
    position: relative;
    transform: translateX(-50%);
    align-items: center;
  }

  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .member-nim {
    font-size: 1.5rem;
  }

  .member-name {
    line-height: 3rem;
    font-size: 2.3rem;
  }

  .member-info {
    font-size: 1.5rem;
  }
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 900px) {
  .column {
    width: 30rem;
    display: flex;
    margin-left: 20rem;
  }

  .row {
    width: 100%;
    height: 100%;
    display: block;
  }

  .card-container {
    width: 100%;
    display: flex;
    position: relative;
    transform: translateX(-50%);
    align-items: center;
  }

  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .member-nim {
    font-size: 1.5rem;
  }

  .member-name {
    line-height: 3rem;
    font-size: 2.3rem;
  }

  .member-info {
    font-size: 1.5rem;
  }
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 700px) {
  .column {
    width: 30rem;
    display: flex;
    margin-left: 5rem;
  }

  .row {
    width: 100%;
    height: 100%;
    display: block;
  }

  .card-container {
    width: 100%;
    display: flex;
    position: relative;
    transform: translateX(-50%);
    align-items: center;
  }

  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .member-nim {
    font-size: 1.5rem;
  }

  .member-name {
    line-height: 3rem;
    font-size: 2.3rem;
  }

  .member-info {
    font-size: 1.5rem;
  }
}
